/** CSS for SignUp Page **/ 


body{
	background: #ccd9ff;
}


/**Navigation bar CSS **/ 
	
.nav{
	padding-bottom: 100px; 
}

ul{
	text-align: center;
	list-style-type: none; 
	margin:0; 
	padding:0; 
	background-color:lightblue; 
	/*padding:3px; */

}

.list li {
	font-size: 18px; 
	display: inline;
	padding: 20px;
	text-align: center; 

}

.nav a:hover{
	background-color: red; 
	color: black;
}

/** Form **/



fieldset{
	/*background-color: white;*/
	width: 40%; 
	margin: 0 auto;
	text-align: center; 
	padding: 15px 0px;
	border: 2px; 
	
}	

legend {
	padding: 0px 0px 10px 0px;
	font-size: 18px;
	
}

	
label{
		clear:left; 
		display:block; 
		float: left; 
		font-size: 0.9em; 
		margin: 8px 7px; 
		width: 50%; 
}
	
input{
		padding: 5px 0px; 
		display: block; 
		float: left; 
		font-size: 0.9em; 
		margin: 6px 0px; 
		width: 40%; 
}

p{
	
	text-align: center;
}


