/**CSS for background image**/

body{
	background-image: url(Images/background1.jpg); 
	background-repeat: no-repeat; 
	background-position: center; 
	height: 100%;
	width: 100%;

	
}

img{
	opacity: 0.2; 
} 
